$custom-red: rgb(255, 29, 29);
$custom-white: white;

body {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}

header {
    color: $custom-white;
    width: 100vw;

    .red-header {
        background-color: $custom-red;

        .big-header {
            margin: 10px 0 10px 0;
        }

        .btn-yellow {
            background-color: yellow;
            height: fit-content;
            border: 0;
            margin-left: 0 !important;
            margin-right: 0 !important;
            border-radius: 50px;
        }

        .buttton {
            height: 30px;
            width: 30px;
        }
    }

    .two-navs {
        display: none;
    }
}


footer {

    .section-1 {

        .div-1 {

            svg {
                display: block;
                width: 236px;
                height: 36px;
                margin-right: 15px;
                margin-bottom: 12px;
                fill: #f72210;
            }

            .fot-p {
                margin-bottom: 12px !important;
            }
        }

        .fotsocials {
            gap: 10px;
            padding-left: 10px;
            
            i {
                font-size: 26px;
            }
        }
    }

    hr {
        width:100%;
        text-align:left;
        margin-left:0
    }

    .section-2 {

        .sec-2-body {

            .fotedition  {
                list-style-type: none;
                gap: 10px;
                font-size: 14px;
                line-height: 15px;

                li {
                    margin: 0 10px 0 10px;
                }
            }
        }

        .foot-bottom {
            padding: 20px 0 0 0;
            list-style-type: none;
            gap: 10px;
            font-size: 14px;
            line-height: 15px;
            
            li {
                width: auto;
                margin: 0 10px 0 0;
                width: fit-content;
            }
        }
    }
}
